vti_encoding:SR|utf8-nl
vti_author:SR|NEEL\\Neel N Rao
vti_modifiedby:SR|NEEL\\Neel N Rao
vti_timelastmodified:TR|28 Aug 2019 12:45:45 -0000
vti_timecreated:TR|07 Aug 2019 13:45:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Shot\\ Clock/default.html faq/default.html master.dwt faq/frequently_asked_questions.dwt Shot\\ Clock/shot_clock.dwt information_links/default.html about/default.html default.html contact/default.html
vti_nexttolasttimemodified:TW|07 Aug 2019 13:45:11 -0000
vti_cacheddtm:TX|28 Aug 2019 12:45:45 -0000
vti_filesize:IR|2588
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif
